@import "./variables";
// Black Hole animation finally boy @_@
.outer-circle {
    position: relative;
    height: 200px;
    width: 200px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
    span {
        position: absolute;
        height: 200px;
        width: 200px;
        background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
        border-radius: 50%;
    }
    span:nth-child(1) {
        filter: blur(5px);
    }

    span:nth-child(2) {
        filter: blur(10px);
    }

    span:nth-child(3) {
        filter: blur(25px);
    }

    span:nth-child(4) {
        filter: blur(150px);
    }

    .inner-circle {
        height: 180px;
        width: 180px;
        position: absolute;
        background: black;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        z-index: 9;
    }
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

// Flickering animation on heading
@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    animation: flickerAnimation 1.4s infinite;
}

// ------------------------------------------------------------------------------------------
.container {
    left: 50%;
    margin: auto -50px;
    position: absolute;
    top: 50%;
}
.swing div {
    border-radius: 50%;
    float: left;
    height: 2rem;
    width: 2rem;
}
.swing div:nth-of-type(1) {
    background: $primary-color;
}
.swing div:nth-of-type(2) {
    background: $secondary-color;
}
.swing div:nth-of-type(3) {
    background: $secondary-color;
}
.swing div:nth-of-type(4) {
    background: $secondary-color;
}
.swing div:nth-of-type(5) {
    background: $secondary-color;
}
.swing div:nth-of-type(6) {
    background: $secondary-color;
}
.swing div:nth-of-type(7) {
    background: $primary-color;
}

.shadow {
    clear: left;
    div {
        filter: blur(1px);
        float: left;
        width: 2rem;
        height: 1rem;
        border-radius: 50%;
        background: #424242;
    }
    .shadow-l {
        background: #636363;
    }
    .shadow-r {
        background: #636363;
    }
}

@keyframes ball-l {
    0%,
    50% {
        transform: rotate(0) translateX(0);
    }
    100% {
        transform: rotate(50deg) translateX(-2.5rem);
    }
}
@keyframes ball-r {
    0% {
        transform: rotate(-50deg) translateX(2.5rem);
    }
    50%,
    100% {
        transform: rotate(0) translateX(0);
    }
}
@keyframes shadow-l-n {
    0%,
    50% {
        opacity: 0.5;

        transform: translateX(0);
    }
    100% {
        opacity: 0.125;
        transform: translateX(-1.75em);
    }
}
@keyframes shadow-r-n {
    0% {
        opacity: 0.125;
        transform: translateX(1.75em);
    }
    50%,
    100% {
        opacity: 0.5;

        transform: translateX(0);
    }
}
.swing-l {
    animation: ball-l 0.425s ease-in-out infinite alternate;
}
.swing-r {
    animation: ball-r 0.425s ease-in-out infinite alternate;
}
.shadow-l {
    animation: shadow-l-n 0.425s ease-in-out infinite alternate;
}
.shadow-r {
    animation: shadow-r-n 0.425s ease-in-out infinite alternate;
}
