@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import "./variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $back-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    h1 {
        color: $primary-text-color;
    }
}

.main_menu {
    background-color: $back-color;
}

.navbar {
    padding: 2rem 3rem;
    border-radius: 0px 0px 30px 30px;
    border-style: solid;
    border-width: 3px;
    a {
        font-size: 1.4rem;
    }
    li {
        margin-left: 2rem;
    }
}

.landing-page-content {
    height: 80vh;
}

.main_header_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #eee;
    .im {
        // padding-top: 5rem;
        // padding-left: 10rem;
        font-size: 1.6rem;
    }
    h1 {
        font-size: 7rem;
        // padding-top: 18vh;
    }
}

.main_header_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// for heading on top to make it responsive and to overlap the bootstrap white-space : no wrap property
.header-text {
    white-space: pre-wrap !important;
}

// Footer

footer {
    width: 100%;
    color: #eee;
    background-color: $back-color;
    line-height: 5rem;
    font-size: 1.4rem;
    text-align: center;
    margin-top: auto;
    border-top: 3px solid $primary-color;
}
