<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <title>404! Bro?</title>
</head>

<body>
    <div id="preogressbar"></div>
    <div id="scrollPath"></div>
    <div id="percent"></div>
    {{>navbar}}
    <!-- 404 page -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row landing-page-content">
                    <div class="col-md-12 col-12 main_header_right">
                        <figure>
                            <img src="./images/404error.png" alt="404" class="img-fluid" title="trying to heck and steal all my bobux" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOI this is my footer -->
    {{>footer}}
</body>
</html>



