<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>Welcome</title>
</head>

<body>
    {{>navbar}}
    <!-- this is Main landing header boys -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row landing-page-content">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/boy.png" alt="Guy" class="img-fluid" title="Guy" />
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <!-- left side div -->
                        <h1>Who am I?</h1>
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>
    <!-- BOI this is my footer -->
    {{>footer}}
</body>

</html>