<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <link rel="stylesheet" href="./scss/css/progress.css" />
    <link rel="stylesheet" href="./scss/css/about.css" />
    <title>Gourav Singh Rawat - About</title>
</head>

<body>
    <div id="preogressbar"></div>
    <div id="scrollPath"></div>
    <div id="percent"></div>
    {{>navbar}}
    <!-- this is Main landing header boys -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row landing-page-content">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/BillOverwhelmed.png" alt="Guy" class="img-fluid" title="Guy" />
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <!-- left side div -->
                        <h1>Who am I?</h1>
                        <p class="sub-head">👋 Hi, I'm Gourav Singh Rawat</p>
                    </div>
                </div>
                <section class="text-container">
                    <h2><span class="sub-heading-2"><a href="#" class="aclass">Hello</a></span><br><p2>Nice to meet you and I hope you're here and curious to know about me...<br>Well I'm from Indore, a city in India and I love working on
                    my web-development, python and graphic designing skills. I've been doing freelancing since few years on different
                    platforms. I do most of my web-development using Sass and JS, althought I prefer to use different types of libraries and pakages like Pug js or Handlebars.
                    I've also done some projects using Nodejs and ExpressJs, apart from these I've used Python based web-framework too i.e Django (learning Flask).</p2></h2>
                    <h2><span class="experience"><br>My experience</span></h2>
                    <div class="timeline-container">
                        <div class="timeline">
                            <div class="container left">
                                <div class="content">
                                    <h2 class="timestamps">2020</h2>
                                    <p>Complete my Sr. Secondary studies <br>
                                        From Little Star Shailesh Memorial School, Sagar, India
                                    </p>
                                </div>
                            </div>
                            <div class="container right">
                                <div class="content">
                                    <h2 class="timestamps">2020-2021</h2>
                                    <p>Built projects and worked with freelancers on web-development</p>
                                </div>
                            </div>
                            <div class="container left">
                                <div class="content">
                                    <h2 class="timestamps">2020-2023</h2>
                                    <p>Bachelor of Science in Computer Science <br> From Sage University, Indore, India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    if you're really into Gourav: <a href="https://github.com/frostzt" target="blank" class="aclass">This</a> guy knows a guy who knows a guy who knows Gourav
                </section>
            </div>
        </div>
    </div>
    <!-- BOI this is my footer -->
    {{>footer}}
    <script src="./js/progressbar.js"></script>
</body>
</html>



