<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <title>Gourav Singh Rawat - Home</title>
</head>
<body>
    {{>navbar}}
    <!-- this is Main landing header boys -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row landing-page-content">
                    <div class="col-md-6 col-12 main_header_left">
                        <!-- left side div -->
                        <h1>I am...</h1>
                        <div class="sub-head-content">
                            <p>&emsp;&emsp;&emsp;&emsp;&emsp;Gourav Singh Rawat</p>
                            <p>&emsp;&emsp;&emsp;&emsp;&emsp;A Front-end developer</p>
                            <p>&emsp;&emsp;&emsp;&emsp;&emsp;A Python programmer</p>
                            <p>&emsp;&emsp;&emsp;&emsp;&emsp;A Graphic designer</p>
                        </div>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOI this is my footer -->
    {{>footer}}
</body>
</html>