<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <title>Welcome</title>
</head>

<body>
    {{>navbar}}
    <!-- this is Main landing header boys -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row landing-page-content">
                    <div class="col-md-6 col-12 main_header_right">
                        <div aria-busy="true" aria-label="Loading" role="progressbar" class="container">
                            <div class="swing">
                                <div class="swing-l"></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div class="swing-r"></div>
                            </div>
                            <div class="shadow">
                                <div class="shadow-l"></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div class="shadow-r"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <!-- left side div -->
                        <h1>Projects</h1>
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>
    <!-- BOI this is my footer -->
    {{>footer}}
</body>

</html>