.outer-circle {
  position: relative;
  height: 200px;
  width: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb3b), to(#ff00e0));
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.outer-circle span {
  position: absolute;
  height: 200px;
  width: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb3b), to(#ff00e0));
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
}

.outer-circle span:nth-child(1) {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.outer-circle span:nth-child(2) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.outer-circle span:nth-child(3) {
  -webkit-filter: blur(25px);
          filter: blur(25px);
}

.outer-circle span:nth-child(4) {
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.outer-circle .inner-circle {
  height: 180px;
  width: 180px;
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 9;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 1.4s infinite;
          animation: flickerAnimation 1.4s infinite;
}

.container {
  left: 50%;
  margin: auto -50px;
  position: absolute;
  top: 50%;
}

.swing div {
  border-radius: 50%;
  float: left;
  height: 2rem;
  width: 2rem;
}

.swing div:nth-of-type(1) {
  background: #df0050;
}

.swing div:nth-of-type(2) {
  background: #8400ff;
}

.swing div:nth-of-type(3) {
  background: #8400ff;
}

.swing div:nth-of-type(4) {
  background: #8400ff;
}

.swing div:nth-of-type(5) {
  background: #8400ff;
}

.swing div:nth-of-type(6) {
  background: #8400ff;
}

.swing div:nth-of-type(7) {
  background: #df0050;
}

.shadow {
  clear: left;
}

.shadow div {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  float: left;
  width: 2rem;
  height: 1rem;
  border-radius: 50%;
  background: #424242;
}

.shadow .shadow-l {
  background: #636363;
}

.shadow .shadow-r {
  background: #636363;
}

@-webkit-keyframes ball-l {
  0%,
  50% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5rem);
            transform: rotate(50deg) translateX(-2.5rem);
  }
}

@keyframes ball-l {
  0%,
  50% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5rem);
            transform: rotate(50deg) translateX(-2.5rem);
  }
}

@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5rem);
            transform: rotate(-50deg) translateX(2.5rem);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
}

@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5rem);
            transform: rotate(-50deg) translateX(2.5rem);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
}

@-webkit-keyframes shadow-l-n {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.75em);
            transform: translateX(-1.75em);
  }
}

@keyframes shadow-l-n {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.75em);
            transform: translateX(-1.75em);
  }
}

@-webkit-keyframes shadow-r-n {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
            transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shadow-r-n {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
            transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.swing-l {
  -webkit-animation: ball-l 0.425s ease-in-out infinite alternate;
          animation: ball-l 0.425s ease-in-out infinite alternate;
}

.swing-r {
  -webkit-animation: ball-r 0.425s ease-in-out infinite alternate;
          animation: ball-r 0.425s ease-in-out infinite alternate;
}

.shadow-l {
  -webkit-animation: shadow-l-n 0.425s ease-in-out infinite alternate;
          animation: shadow-l-n 0.425s ease-in-out infinite alternate;
}

.shadow-r {
  -webkit-animation: shadow-r-n 0.425s ease-in-out infinite alternate;
          animation: shadow-r-n 0.425s ease-in-out infinite alternate;
}

@media screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 200px;
    left: 50%;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
/*# sourceMappingURL=animations.css.map */